*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

ul{
    display: flex;
    list-style-type: none;
    display: inline-block;
}

li{
    display: inline-block;
}

a, button{
    text-decoration: none;
    cursor: pointer;
    font-weight: 300;
}